/* ===============
         RED
   =============== */

// dark font
$red-50: #fde0dc;
$red-100: #f9bdbb;
$red-200: #f69988;
$red-300: #f36c60;
$red-400: #e84e40;

// light font
$red-500: #e51c23; // PRIMARY

$red-600: #dd191d;
$red-700: #d01716;
$red-800: #c41411;
$red-900: #b0120a;

$red-A100: #ff7997; // dark font
$red-A200: #ff5177; // light font
$red-A400: #ff2d6f; // light font
$red-A700: #e00032; // light font


/* ===============
         PINK
   =============== */

// dark font
$pink-50: #fce4ec;
$pink-100: #f8bbd0;
$pink-200: #f48fb1;
$pink-300: #f06292;
$pink-400: #ec407a;

// light font
$pink-500: #e91e63; // PRIMARY

$pink-600: #d81b60;
$pink-700: #c2185b;
$pink-800: #ad1457;
$pink-900: #880e4f;

$pink-A100: #ff80ab; // dark font
$pink-A200: #ff4081; // light font
$pink-A400: #f50057; // light font
$pink-A700: #c51162; // light font


/* ===============
       PURPLE
   =============== */

// dark font
$purple-50: #f3e5f5;
$purple-100: #e1bee7;
$purple-200: #ce93d8;

// light font
$purple-300: #ba68c8;
$purple-400: #ab47bc;

$purple-500: #9c27b0; // PRIMARY

$purple-600: #8e24aa;
$purple-700: #7b1fa2;
$purple-800: #6a1b9a;
$purple-900: #4a148c;

$purple-A100: #ea80fc; // dark font
$purple-A200: #e040fb; // light font
$purple-A400: #d500f9; // light font
$purple-A700: #aa00ff; // light font


/* ===============
     DEEP PURPLE
   =============== */

// dark font
$deep_purple-50: #ede7f6;
$deep_purple-100: #d1c4e9;
$deep_purple-200: #b39ddb;

// light font
$deep_purple-300: #9575cd;
$deep_purple-400: #7e57c2;

$deep_purple-500: #673ab7; // PRIMARY

$deep_purple-600: #5e35b1;
$deep_purple-700: #512da8;
$deep_purple-800: #4527a0;
$deep_purple-900: #311b92;

$deep_purple-A100: #b388ff; // dark font
$deep_purple-A200: #7c4dff; // light font
$deep_purple-A400: #651fff; // light font
$deep_purple-A700: #6200ea; // light font


/* ===============
       INDIGO
   =============== */

// dark font
$indigo-50: #e8eaf6;
$indigo-100: #c5cae9;
$indigo-200: #9fa8da;

// light font
$indigo-300: #7986cb;
$indigo-400: #5c6bc0;

$indigo-500: #3f51b5; // PRIMARY

$indigo-600: #3949ab;
$indigo-700: #303f9f;
$indigo-800: #283593;
$indigo-900: #1a237e;

$indigo-A100: #8c9eff; // dark font
$indigo-A200: #536dfe; // light font
$indigo-A400: #3d5afe; // light font
$indigo-A700: #304ffe; // light font


/* ===============
        BLUE
   =============== */

// dark font
$blue-50: #e7e9fd;
$blue-100: #d0d9ff;
$blue-200: #afbfff;
$blue-300: #91a7ff;
$blue-400: #738ffe;

// light font
$blue-500: #5677fc; // PRIMARY

$blue-600: #4e6cef;
$blue-700: #455ede;
$blue-800: #3b50ce;
$blue-900: #2a36b1;

$blue-A100: #a6baff; // dark font
$blue-A200: #6889ff; // light font
$blue-A400: #4d73ff; // light font
$blue-A700: #4d69ff; // light font


/* ===============
      LIGHT BLUE
   =============== */

// dark font
$light_blue-50: #e1f5fe;
$light_blut-100: #b3e5fc;
$light_blut-200: #81d4fa;
$light_blut-300: #4fc3f7;
$light_blut-400: #29b6f6;

// dark font
$light_blut-500: #03a9f4; // PRIMARY

$light_blut-600: #039be5;
$light_blut-700: #0288d1;
$light_blut-800: #0277bd;
$light_blut-900: #01579b;

$light_blut-A100: #80d8ff; // dark font
$light_blut-A200: #40c4ff; // dark font
$light_blut-A400: #00b0ff; // dark font
$light_blut-A700: #0091ea; // light font


/* ===============
         CYAN
   =============== */

// dark font
$cyan-50: #e0f7fa;
$cyan-100: #b2ebf2;
$cyan-200: #80deea;
$cyan-300: #4dd0e1;
$cyan-400: #26c6da;

// light font
$cyan-500: #00bcd4; // PRIMARY

$cyan-600: #00acc1;
$cyan-700: #0097a7;
$cyan-800: #00838f;
$cyan-900: #006064;

$cyan-A100: #84ffff; // dark font
$cyan-A200: #18ffff; // dark font
$cyan-A400: #00e5ff; // dark font
$cyan-A700: #00b8d4; // dark font


/* ===============
         TEAL
   =============== */

// dark font
$teal-50: #e0f2f1;
$teal-100: #b2dfdb;
$teal-200: #80cbc4;
$teal-300: #4db6ac;
$teal-400: #26a69a;

// light font
$teal-500: #009688; // PRIMARY

$teal-600: #00897b;
$teal-700: #00796b;
$teal-800: #00695c;
$teal-900: #004d40;

$teal-A100: #a7ffeb; // dark font
$teal-A200: #64ffda; // dark font
$teal-A400: #1de9b6; // dark font
$teal-A700: #00bfa5; // dark font


/* ===============
        GREEN
   =============== */

// dark font
$green-50: #d0f8ce;
$green-100: #a3e9a4;
$green-200: #72d572;
$green-300: #42bd41;
$green-400: #2baf2b;

// light font
$green-500: #259b24; // PRIMARY

$green-600: #0a8f08;
$green-700: #0a7e07;
$green-800: #056f00;
$green-900: #0d5302;

$green-A100: #a2f78d; // dark font
$green-A200: #5af158; // dark font
$green-A400: #14e715; // dark font
$green-A700: #12c700; // dark font


/* ===============
     LIGHT GREEN
   =============== */

// dark font
$light_green-50: #f1f8e9;
$light_green-100: #dcedc8;
$light_green-200: #c5e1a5;
$light_green-300: #aed581;
$light_green-400: #9ccc65;

$light_green-500: #8bc34a; // PRIMARY

$light_green-600: #7cb342;
$light_green-700: #689f38;

// light font
$light_green-800: #558b2f;
$light_green-900: #33691e;

$light_green-A100: #ccff90; // dark font
$light_green-A200: #b2ff59; // dark font
$light_green-A400: #76ff03; // dark font
$light_green-A700: #64dd17; // dark font


/* ===============
         LIME
   =============== */

// dark font
$lime-50: #f9fbe7;
$lime-100: #f0f4c3;
$lime-200: #e6ee9c;
$lime-300: #dce775;
$lime-400: #d4e157;

$lime-500: #cddc39; // PRIMARY

$lime-600: #c0ca33;
$lime-700: #afb42b;
$lime-800: #9e9d24;

// light font
$lime-900: #827717;

$lime-A100: #f4ff81;
$lime-A200: #eeff41;
$lime-A400: #c6ff00;
$lime-A700: #aeea00;


/* ===============
        YELLOW
   =============== */

// dark font
$yellow-50: #fffde7;
$yellow-100: #fff9c4;
$yellow-200: #fff59d;
$yellow-300: #fff176;
$yellow-400: #ffee58;

$yellow-500: #ffeb3b; // PRIMARY

$yellow-600: #fdd835;
$yellow-700: #fbc02d;
$yellow-800: #f9a825;
$yellow-900: #f57f17;

$yellow-100: #ffff8d; // dark font
$yellow-100: #ffff00; // dark font
$yellow-100: #ffea00; // dark font
$yellow-100: #ffd600; // dark font


/* ===============
        AMBER
   =============== */

// dark font
$amber-50: #fff8e1;
$amber-100: #ffecb3;
$amber-200: #ffe082;
$amber-300: #ffd54f;
$amber-400: #ffca28;

$amber-500: #ffc107; // PRIMARY

$amber-600: #ffb300;
$amber-700: #ffa000;
$amber-800: #ff8f00;
$amber-900: #ff6f00;

$amber-A100: #ffe57f; // dark font
$amber-A200: #ffd740; // dark font
$amber-A400: #ffc400; // dark font
$amber-A700: #ffab00; // dark font


/* ===============
        ORANGE
   =============== */

// dark font
$orange-50: #fff3e0;
$orange-100: #ffe0b2;
$orange-200: #ffcc80;
$orange-300: #ffb74d;
$orange-400: #ffa726;

$orange-500: #ff9800; // PRIMARY

$orange-600: #fb8c00;
$orange-700: #f57c00;

// light font
$orange-800: #ef6c00;
$orange-900: #e65100;

$orange-A100: #ffd180; // dark font
$orange-A200: #ffab40; // dark font
$orange-A400: #ff9100; // dark font
$orange-A700: #ff6d00; // dark font


/* ===============
     DEEP ORANGE
   =============== */

// dark font
$deep_orange-50: #fbe9e7;
$deep_orange-100: #ffccbc;
$deep_orange-200: #ffab91;
$deep_orange-300: #ff8a65;
$deep_orange-400: #ff7043;

// light font
$deep_orange-500: #ff5722; // PRIMARY

$deep_orange-600: #f4511e;
$deep_orange-700: #e64a19;
$deep_orange-800: #d84315;
$deep_orange-900: #bf360c;

$deep_orange-A100: #ff9e80; // dark font
$deep_orange-A200: #ff6e40; // dark font
$deep_orange-A400: #ff3d00; // light font
$deep_orange-A700: #dd2c00; // light font


/* ===============
        BROWN
   =============== */

// dark font
$brown-50: #efebe9;
$brown-100: #d7ccc8;
$brown-200: #bcaaa4;

// light font
$brown-300: #a1887f;
$brown-400: #8d6e63;

$brown-500: #795548; // PRIMARY

$brown-600: #6d4c41;
$brown-700: #5d4037;
$brown-800: #4e342e;
$brown-900: #3e2723;


/* ===============
        GREY
   =============== */

// dark font
$grey-50: #fafafa;
$grey-100: #f5f5f5;
$grey-200: #eeeeee;
$grey-300: #e0e0e0;
$grey-400: #bdbdbd;

// white font
$grey-500: #9e9e9e; // PRIMARY

$grey-600: #757575;
$grey-700: #616161;
$grey-800: #424242;
$grey-900: #212121;


/* ===============
      BLUE GREY
   =============== */

// dark font
$blue_grey-50: #eceff1;
$blue_grey-100: #cfd8dc;
$blue_grey-200: #b0bec5;
$blue_grey-300: #90a4ae;

// light font
$blue_grey-400: #78909c;

$blue_grey-500: #607d8b; // PRIMARY

$blue_grey-600: #546e7a;
$blue_grey-700: #455a64;
$blue_grey-800: #37474f;
$blue_grey-900: #263238;











































